srcGIT/

.gradle/
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml


.settings/
.classpath
.project
bin/
build/
